@import '../../sass/utils/variables';

.react-datepicker__input-container {
  input {
    font-family: 'Poppins';
    width: 217px;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(21 / 14);
    border: none;
    outline: none;
    color: var(--btn-bg);
    background: none;
  }
}

.react-datepicker__tab-loop {
  .react-datepicker__triangle {
    display: none;
  }

  .react-datepicker-popper {
    width: 233px;
    padding: 0;
  }

  .react-datepicker__header {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    padding: 18px 0;
    background-color: var(--secondary-background);
    color: #242424;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom: 1px solid rgba(36, 36, 36, 0.05);
  }

  .react-datepicker__current-month{

  }

  .react-datepicker__navigation {
    top: 14px;

    &-icon::before {
      border-color: #242424;
    }

    &:hover .react-datepicker__navigation-icon::before,
    &:focus .react-datepicker__navigation-icon::before {
      border-color: $blue;
    }
  }

  .react-datepicker {
    border-radius: 8px;
    border: 1px solid var(--btn-bg);
    width: 100%;
  }

  .react-datepicker__month-container {
    width: 100%;
  }

  .react-datepicker__month {
    padding: 14px;
    margin: 0;
    background-color: $white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .react-datepicker__month-wrapper {
    display: flex;
    gap: 4px;
  }

  .react-datepicker__month-text {
    display: block;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: calc(17 / 14);
    color: #242424;
    border-radius: 50px;
    padding: 6px 18px;
    width: 60px;
    background-color: $white;

    margin: 0;

    &:hover,
    &:focus {
      color: $white;
      background-color: $blue;
    }
  }

  .react-datepicker__month--selected {
    color: $white;
    background-color: $blue;

    &:hover,
    &:focus {
      background-color: $blue;
    }
  }

  .react-datepicker__month--disabled {
    color: $white;
  }
}
.calendarWrap {
  position: relative;
  width: 217px;

  @media screen and (min-width: 768px) {
    // bottom: 8px;
  }
  @media screen and (max-width: 767px) {
    // bottom: 18px;
  }
}

.icon-calendar{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  stroke: var(--btn-bg);
}


