:root {
  --primary-background:#121212;
  --secondary-background:#1F1F1F;
  --header-background:#161616;
  --modal-background: #151515;
  --primary-text-color:#FFFFFF;
  --secondary-text-color:rgba(255, 255, 255, 0.5);
  --filter-svg-color: rgba(255, 255, 255, 0.8);
  --board-headers: #FFFFFF;
  --btn-bg: #BEDBB0;
  --btn-text-color: #121212;
  --btn-modal-icon-plus: #FFFFFF;
  --btn-modal-bg: #161616;
  --btn-modal-text-color: #FFFFFF;
  --priority-without-priority: #1616164D;
  --priority-low: #8FA1D0;
  --priority-medium: #E09CB5;
  --priority-high: #BEDBB0;
  --select-header: rgba(255, 255, 255, 0.8);
  --select-option: rgba(255, 255, 255, 0.5);
  --select-list-bg: #151515;
  --select-list-border: #BEDBB0;
  --border-card: rgba(255, 255, 255, 0.1);
  --card-bg: #121212;
  --board-add-column-btn: #FFFFFF;
  --board-add-column-plus: #121212;
  --header-modal-icon-plus: #161616;
  --header-modal-btn-add-file: #BEDBB0;
}

$overlay-color: rgba(18, 20, 23, 0.4);
$modal-bg: #151515;

// добавил что бы не выбивало ошибку
$white: #ffffff;
$blue: blue;
//
