:root {
  --primary-background:#121212;
  --secondary-background:#1F1F1F;
  --header-background:#161616;
  --primary-text-color:#FFFFFF;
  --secondary-text-color:rgba(255, 255, 255, 0.5);
  --board-headers: #FFFFFF;
  --btn-bg: #BEDBB0;
  --btn-text-color: #121212;
  --priority-without-priority: #1616164D;
  --priority-low: #8FA1D0;
  --priority-medium: #E09CB5;
  --priority-high: #BEDBB0;
}
