.columnList {
  display: flex;
  gap: 34px;
  // flex-grow: 1;
  // align-items: flex-start;
  // flex-shrink: 0;
}

.titleToDo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // flex-shrink: 0;
  margin-bottom: 14px;
  width: 334px;
  height: 56px;
  padding: 14px 20px;

  border-radius: 8px;
  background-color: var(--card-bg);

  &:last-child {
    margin-right: 34px;
  }
}

.titleCard {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}

.iconToDo {
  display: flex;
  gap: 8px;
}
