.mainDashboard {
  display: flex;
  margin-top: 10px;
  align-items: flex-start;
  // gap: 34px;
}

.btnAddColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-right: 24px;
  // flex-grow: 1;
  flex-shrink: 0;
  width: 334px;
  // height: 56px;
  padding: 14px 0;
  // margin-top: 10px;
  cursor: pointer;

  border: none;
  border-radius: 8px;

  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;

  color: var(--primary-text-color);
  background-color: var(--card-bg);

  &:hover{
    background-color: var(--btn-hover-secondary);
    // color: var(--btn-modal-bg);
  }
// --btn-hover-secondary: #262626;
    // --btn-active-secondary
  &:active{
    background-color: var(--btn-active-secondary)
  }
}

.btnAddColumnW {
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 28px;
  height: 28px;
  border-radius: 6px;
  background-color: var(--board-add-column-btn);

  // &:hover{
  //   background-color: var(--select-list-bg);
  // }

  // &:active{
  //   background-color: var(--btn-active-secondary)
  // }
}

.iconPlus {
  stroke: var(--board-add-column-plus);
}

.column {
  width: 334px;
  height: 56px;
  background-color: var(--primary-background);
}





