.mainDashboard {
  display: flex;
  margin-top: 10px;
  align-items: flex-start;
  // gap: 34px;
}

.btnAddColumn {
  display: flex;
  justify-content: center;
  align-items: center;

  // flex-grow: 1;
  flex-shrink: 0;
  width: 334px;
  // height: 56px;
  padding: 14px 0;
  // margin-top: 10px;
  cursor: pointer;

  border: none;
  border-radius: 8px;

  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;

  color: var(--primary-text-color);
  background-color: var(--btn-text-color);
}

.btnAddColumnW {
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 28px;
  height: 28px;
  border-radius: 6px;
  background-color: var(--primary-text-color);
}

// .iconPlus {
//   fill: var(--primary-background);
// }

.column {
  width: 334px;
  height: 56px;
  background-color: var(--primary-background);
}





