// @import '../../sass/utils/variables';
.iconBtn{
    stroke: var(--primary-text-color);
    opacity: 0.5;
    &:hover,
    &:focus{
        stroke: var(--btn-bg);
        opacity: 1;
    }
}
// .icon-diagram {
//   fill: $white;
// }
// .icon-calendar {
//   position: absolute;
//   top: 14px;
//   right: 18px;
//   fill: $white;
// }
// .icon-pencil {
//   fill: $blue;
// }
// .icon-trash {
//   stroke: $white;
//   stroke-width: 2px;
//   fill: transparent;
// }
// .icon-close {
//   fill: $white;
// }