@import '../../../sass/utils/mixin';
.titleHeaderDashboard {
  padding-top: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;

  color: var(--primary-text-color);
}

.containerDashboard {
  display: flex;
  justify-content: space-between;
}

.containerMainDashboard {
  overflow-x: auto;
}
.boardLoader {
  position: static;
  width: 100%;
  height: calc(100% - 68px);
  // height: calc(100vh - 71px);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1200;
}

.sky {
  @include tablet_max {
    background-image: url('../../../static/images/mobile/sky-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  @include tablet {
    background-image: url('../../../static/images/tablet/sky-tablet.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  @include desktop {
    background-image: url('../../../static/images/desktop/sky-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
}

.yacht {
  @include tablet_max {
    background-image: url('../../../static/images/mobile/yacht-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  @include tablet {
    background-image: url('../../../static/images/tablet/yacht-tablet.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  @include desktop {
    background-image: url('../../../static/images/desktop/yacht-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
}
.flowers {
  @include tablet_max {
    background-image: url('../../../static/images/mobile/flowers-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  @include tablet {
    background-image: url('../../../static/images/tablet/flowers-tablet.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  @include desktop {
    background-image: url('../../../static/images/desktop/flowers-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
}

.leaves {
  @include tablet_max {
    background-image: url('../../../static/images/mobile/leaves-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  @include tablet {
    background-image: url('../../../static/images/tablet/leaves-tablet.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  @include desktop {
    background-image: url('../../../static/images/desktop/leaves-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
}

.rocksAndOcean {
  @include tablet_max {
    background-image: url('../../../static/images/mobile/rocksAndOcean-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  @include tablet {
    background-image: url('../../../static/images/tablet/rocksAndOcean-tablet.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  @include desktop {
    background-image: url('../../../static/images/desktop/rocksAndOcean-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
}
.sakura {
  @include tablet_max {
    background-image: url('../../../static/images/mobile/sakura-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  @include tablet {
    background-image: url('../../../static/images/tablet/sakura-tablet.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  @include desktop {
    background-image: url('../../../static/images/desktop/sakura-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
}
.skyBalloons {
  @include tablet_max {
    background-image: url('../../../static/images/mobile/skyBalloons-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  @include tablet {
    background-image: url('../../../static/images/tablet/skyBalloons-tablet.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  @include desktop {
    background-image: url('../../../static/images/desktop/skyBalloons-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
}
.starsAndShine {
  @include tablet_max {
    background-image: url('../../../static/images/mobile/starsAndShine-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  @include tablet {
    background-image: url('../../../static/images/tablet/starsAndShine-tablet.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  @include desktop {
    background-image: url('../../../static/images/desktop/starsAndShine-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
}
.trailerInTheCanyon {
  @include tablet_max {
    background-image: url('../../../static/images/mobile/trailerInTheCanyon-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  @include tablet {
    background-image: url('../../../static/images/tablet/trailerInTheCanyon-tablet.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  @include desktop {
    background-image: url('../../../static/images/desktop/trailerInTheCanyon-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
}
.youngMonth {
  @include tablet_max {
    background-image: url('../../../static/images/mobile/youngMonth-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  @include tablet {
    background-image: url('../../../static/images/tablet/youngMonth-tablet.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  @include desktop {
    background-image: url('../../../static/images/desktop/youngMonth-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
}
.mountainsAndBalloon {
  @include tablet_max {
    background-image: url('../../../static/images/mobile/mountainsAndBalloon-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  @include tablet {
    background-image: url('../../../static/images/tablet/mountainsAndBalloon-tablet.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  @include desktop {
    background-image: url('../../../static/images/desktop/mountainsAndBalloon-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
}
.nature {
  @include tablet_max {
    background-image: url('../../../static/images/mobile/nature-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  @include tablet {
    background-image: url('../../../static/images/tablet/nature-tablet.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  @include desktop {
    background-image: url('../../../static/images/desktop/nature-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
}
.oceanAndYacht {
  @include tablet_max {
    background-image: url('../../../static/images/mobile/oceanAndYacht-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  @include tablet {
    background-image: url('../../../static/images/tablet/oceanAndYacht-tablet.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  @include desktop {
    background-image: url('../../../static/images/desktop/oceanAndYacht-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
}
.orangePlanet {
  @include tablet_max {
    background-image: url('../../../static/images/mobile/orangePlanet-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  @include tablet {
    background-image: url('../../../static/images/tablet/orangePlanet-tablet.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  @include desktop {
    background-image: url('../../../static/images/desktop/orangePlanet-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
}
.planets {
  @include tablet_max {
    background-image: url('../../../static/images/mobile/planets-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  @include tablet {
    background-image: url('../../../static/images/tablet/planets-tablet.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  @include desktop {
    background-image: url('../../../static/images/desktop/planets-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
}
