.header{
    border: 2px solid red;
    background-color: var(--primary-background);
}

.testDiv{
    border: 2px solid green;
    background-color: var(--primary-background);
    width: 100px;
    height: 100px;
}